/* Your Website Styles */


/* Show Grid */
/*.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}*/

/**********************
FONTS
**********************/

h1 {
	font-family: 'Frijole', sans-serif;
	font-size: 4em;
	color: #FF5826;
	float: left;
}

h3 {
	font-family: 'Frijole', sans-serif;
	color: #FF904E;
}

p{
	font-family: 'Questrial', sans-serif;
	background: #838383;
	color: #fff;
	padding: 5px;
}


/**********************
IMAGES
**********************/

body {
	background: url('../img/tire2xbg.png');
}

.logo {
	width: 20%;
	margin: 10px 5px 20px 20px;
}

.truck {
	width: 60%;
	border: 6px solid #A98C7C;
}